body {
    background: salmon;
}

h1 {
    text-align: center;
}

.container-2 {
    display: flex;
}

#today {
    margin-bottom: 2.5%;
}

.col-sm-2 {
    margin: auto;
    width: 25%;
    padding: 0 2px;
}

.buttonCity {
    display: flex;
    margin: 3%;
}