body {
    background: #242943;

}

h1 {
    text-align: center;
    color: #ffffff;
}

.container-2 {
    display: flex;
}

#cityNameAndDate {
    font-size: 2rem;
    color: rgb(196, 84, 32);
}

#searchTitle {
    font-size: 1.25rem;
}

#today {
    margin-bottom: 2.5%;
}

.col-sm-2 {
    margin: auto;
    width: 25%;
    padding: 0 2px;
}

.buttonCity {
    display: flex;
    margin: 3%;
    width: 95%;
}